/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Text color */
.color-white { color: #ffffff !important; }

.color-accent { color: #ff4081 !important; }

/* Background color */
.bg-primary { background-color: #3f51b5 !important; }

.bg-accent { color: #ff4081 !important; }

/* Animation */
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
