/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Text color */
.color-white { color: #ffffff !important; }

.color-accent { color: #ff4081 !important; }

/* Background color */
.bg-primary { background-color: #3f51b5 !important; }

.bg-accent { color: #ff4081 !important; }